*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.gradient{
    background: var(--Linear, linear-gradient(47.64deg, #f7e93f,rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}
.text-gradient{
    background: -webkit-linear-gradient(#f104ca, #f7e93f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header{
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    /* background-image: url('../assets/hero-circle.png'); */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    width: 100%;
    /* height: 48rem; */
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: hidden;
}


#center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
#center-image1{
    justify-content: center;
    align-items: center;
    padding-top: 13rem;
}

.badge button{
    padding: 7px 9px 7px 9px;
    border-radius: 15px;
    border: none;
    color: black;
    font-weight: 700;
    background-color: #00FF88;
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    animation: blink 3s linear infinite;
}

@keyframes blink {
  0%, 100% {background-color: #00FF88;}
  50% {background-color: #ffffff;}
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    color: white;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: white;
}

nav button{
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    border: none;
    color: white;
}

#header-text-section{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 8rem;
}
#header-text-section .header-text1{
    font-size: x-large;
    font-weight: 900;
}

.header-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.header-button-section .btn-1{
    color: white;
    font-size: 1rem;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 20px;
}

.header-button-section .btn-2{
    color: #00FF88;
    font-size: 1rem;
    padding: 12px 20px 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
}


.about-section{
    background-color: #1A0B2E;
    color:white ;
    text-align: center;
    padding: 50px 200px 374px 200px;
}

.about-section h2{
    font-size: 40px;
    font-weight: 700;
    padding-top: 3rem;
}

#about-section-p1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-section hr{
    margin-top: 5rem;
    opacity: 0.1;

}

.middle-section{
    background-color: #1A0B2E;
}

.middle-section h2{
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;

}


.choose-techwave{
    background-color: rgba(37, 13, 68, 1);
}

.choose-techwave h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.container{
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: white;
    margin: 0px auto;
    padding-bottom: 100px;
}

.div1 { 
    grid-area: 3 / 1 / 4 / 3; 
    background-color: #351165;
    border-radius: 40px;
    padding: 20px 20px;
}
.div2 { 
    grid-area: 1 / 1 / 3 / 2; 
    background-color: #351165;
    border-radius: 40px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
}
.div3 { 
    grid-area: 3 / 3 / 4 / 4; 
    background-color: #351165;
    border-radius: 40px;
    padding: 20px 20px;
}
.div4 { 
    grid-area: 1 / 2 / 2 / 4;
    background-color: #351165;
    border-radius: 40px;
    padding: 20px 20px;
}
.div5 { 
    grid-area: 2 / 2 / 3 / 4; 
    background-color: #351165;
    border-radius: 40px;
    padding: 20px 20px;
    align-items: center;
}


.card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    gap: 10px;
    margin: 0px auto;
    overflow-x: hidden;
}

.card-text-section{
    color: white;
    padding: 24px 24px;
}

.card-section .card{
    width: 380px;
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
}

iframe{
     border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card-section .card .primary-p{
    color: white;
    opacity: 0.5;
}

.card-section .card .secondary-p{
    color: #00FF88;
}

/* .card-section .card>img{
    width: 212px;
    height: 370px;
} */


.rating-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.rating-card{
   padding-top: 80px;
   padding-bottom: 120px;
   text-align: center;
}

.rating-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}


.meet-the-host{
    padding-top: 120px;
    padding-bottom: 120px;
}


.meet-the-host .host-parent{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #351165;
    color: white;
    width: 1200px;
    height: 280px;
    margin: 0px auto;
    border-radius: 40px;
}



.host-parent .host-image{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 20px 20px 20px 20px;
}




.host-social-icons i{
    border: 1px solid #1A0B2E;
    padding: 3px;
    border-radius: 15px;
}




/* styles for footer section */
footer{
    background-image: url('/assets/footer-bg.png');
    text-align: center;
    width: 100%;
    height: 50vh;

}

.footer-section{
    text-align: center;
    padding-top: 8rem;
}

.footer-section h1{
    color: white;
    font-size: 4rem;
}

footer p{
    color: white;
    padding-top: 2rem;
    opacity: 0.5;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 1rem;
    padding-top: 2rem;
}


@media screen and (max-width:576px) {
    header{
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    /* background-image: url('../assets/hero-circle.png'); */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    width: 100vw;
    /* height: 48rem; */
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: hidden;
    }


    .nav-link, .primary-btn{
        display: none;
    }

   


    .about-section{
        padding: 4px;
    }
    
    .rating-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .choose-techwave .container{
        display: flex;
        flex-direction: column;
    }
    .container .div1 .div2 .div3 .div4 .div5{
        width: 400px;
    }


    .middle-section .card-section{
        flex-direction: column;
        width: 400px;
    }

    .middle-section h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    }

    


}