*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.gradient{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}
.text-gradient{
    color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}
header{
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    /* background-image: url('../assets/hero-circle.png'); */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    width: 100%;
    height: 48rem;
}


#center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
#center-image1{
    justify-content: center;
    align-items: center;
    padding-top: 13rem;
}

.badge button{
    padding: 7px 9px 7px 9px;
    border-radius: 15px;
    border: none;
    color: black;
    font-weight: 700;
    background-color: #00FF88;
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    color: white;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: white;
}

nav button{
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    border: none;
    color: white;
}

#header-text-section{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 8rem;
}
#header-text-section .header-text1{
    font-size: x-large;
    font-weight: 900;
}

.header-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.header-button-section .btn-1{
    color: white;
    font-size: 1rem;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 20px;
}

.header-button-section .btn-2{
    color: #00FF88;
    font-size: 1rem;
    padding: 12px 20px 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
}