*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.gradient{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}
.text-gradient{
    color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}
header{
    background-image: url('../assets/hero-bg.png');
    width: 100%;
    height: 48rem;
}


/* header img{
    justify-content: center;
    align-items: center;
} */

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

nav ul{
    list-style-type: none;
    color: white;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: white;
}

nav button{
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    border: none;
    color: white;
}