*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.gradient{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%));
}

header{
    background-image: url();
}


nav{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav button{
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    border: none;
    color: white;
}